<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<app-entrenadores></app-entrenadores>


<button (click)="mostrarPokedex()" type="button" class="btn btn-success">{{show == true ? 'Ocultar' : 'Mostrar'}}</button>
<div *ngIf="show == true" class="card-group">
  <div *ngFor="let pokedex of pokedex;" class="card-deck">
    <div class="card" style="width: 10rem">
      <img src={{pokedex.imagen}} class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{pokedex.id}}</h5>
        <h5 class="card-title">{{pokedex.nombre}}</h5>
        <h4 class="card-title">{{pokedex.tipo}}</h4>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
